body {
}

.main-color() {
    color: white;
}
.secondary-color() {
    color: #aaa;
}
.main-font() {
    font-family: 'American Typewriter' 'Times New Roman';;
}

.secondary-font() {
    font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
    text-shadow: 3px 3px 3px #333;
    line-height: 1.1em;
}

#word-form {
    margin: auto;
}

#languages > * {
    float: left;
    width: 30%;
}

#word-list {
    clear: both;
}

.row > * {
    float: left;
    width: 30%;
}

#inputs {
    clear: both;
}

#inputs > * {
    text-align: left;
    width: 30%;
}

header {
    margin-top: 20px;
}

a, a:visited {
    .secondary-color();
}

