* { box-sizing: border-box }

.main-color() {
  color: white;
}
.secondary-color() {
  color: #aaa;
}
.main-font() {
  font-family: 'American Typewriter' 'Times New Roman';;
}

.secondary-font() {
  font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
  text-shadow: 3px 3px 3px #333;
  line-height: 1.1em;
}

body {
  .main-font();
}

#message {
  position:fixed;
  z-index: 100;
  top: -30px;
  left: 50%;
  margin: 0 0 0 -100px;
  transition: top 2s;
}

#message.info {
  top: 0;
  background: #5e5;
}

#message.error {
  top: 0;
  background: #e33;
}


header {
  margin-top: 20px;
}

#logo-image {
  float: left;
}

#logo-text {
  float: left;
  .main-font();
  font-size: 32pt;
  margin-top: 15px;
  margin-left: -50px;
  color: #486723;
}

#login-panel {
  float: right;
}

#user-panel > * {
  float: left;
}

#user-picture {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  margin-right: 8px;
}


#content {
  clear: both;
  margin: 0 80px;
}


a, a:visited {
  .secondary-color();
}



#message {
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

#word-form {
  margin: auto;
}

#form-name {
  margin: 10px 0;
  border-radius: 5px;
  width: 80%;
  font-size: 18pt;

}

.form-style() {
  .main-font();
  float: left;
  min-width: 200px;
  width: 40%;
  max-width: 400px;
  font-size: 14pt;
  padding: 3px;
}

#languages > * {
  .form-style();
}


#word-list {
  clear: both;
  margin: 30px 0;
}

.row {
  clear: both;
}

.row > input, .row > div {
  .form-style();
}

.row:nth-child(odd) div {
  background-color: lightgreen;
}

.row:nth-child(even) div {
  background-color: #dfd;
}


#inputs {
  clear: both;
}

#inputs > input[type='text'] {
  .form-style();
  text-align: left;
}
#inputs > button {
  display: block;
  float: left;
  font-size: 14pt;
}

#save-panel {
  padding-top: 8px;
  clear: both;
}

#save-panel > button {
  font-size: 14pt;
  margin-left: 8px;
}

#wordlists li {
  list-style-type: none;
  padding: 8px;

  &:nth-child(2n+1) {
    background: #eee;
  }
  &:nth-child(2n) {
    background: lightgreen;
  }
  * {
    margin: 5px;
  }
  .name {
    font-size: 18pt;
  }
  a {
    display: block;
    margin-top: -20px;
    float: right;
  }
}

#quiz {
  clear: both;
}

#quiz-panel {
  margin: auto;
  padding-left: 20px;
  width: 500px;
  height: 300px;
  background: #ddd;
  border-radius: 20px;
}

#quiz-word-panel {
  float: left;
  width: 50%;
  height: 100%;
  padding-top: 100px;
}

#quiz-word {
  display: block;
  font-size: 24pt;
  color: black;
}

#quiz-reply {
  .main-font();
  display: block;
  margin-top: 30px;
  font-size: 14pt;
}

#quiz-feedback {
  float: right;
  height: 100%;
  width: 50%;
  padding-top: 100px;
}

#quiz-feedback-word {
  font-size: 24pt;
  margin-left: 50px;

  &.correct { color: green; }
  &.wrong-case { color: orange; }
  &.wrong { color: red; }
}

#quiz-feedback-icon {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 64px;
  font-family: Verdana;
  margin-left: 30px;
  padding-top: 10px;
  padding-left: 10px;

  &.correct { background: green; }
  &.wrong-case { background: orange; }
  &.wrong { background: red; }
}


#footer {
  clear: both;
  margin-top: 30px;
}

#issues {
  float: left;
}

#contact {
  float: right;
}

